{% extends 'base.html.twig' %}

{% block body %}

    {% if cart is defined and cart|length  %}

        {% set products = cart.products %}
        {% set totals = cart.totals %}

        <div class="container">
            <div class="row">
                <div class="table-responsive">
                <table class="table table-stripped table-hover">
                    <caption><h1 class="text-center">{{ 'cart.my-cart'|trans }}</h1></caption>

                    <thead>
                    <tr>
                        <th>{{ 'label.title'|trans }}</th>
                        <th>{{ 'label.quantity'|trans }}</th>
                        <th>{{ 'label.color'|trans }}</th>
                        <th>{{ 'label.price-unit'|trans }}</th>
                        <th>{{ 'label.price-total'|trans }}</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for id, product in products %}

                        <tr>
                            <td>{{ product.title }}</td>
                            <td>{{ product.quantity }}</td>
                            <td>{{ product.color }}</td>
                            <td>{{ product.price|number_format(2, ',', '.') }} <i class="fa fa-eur"></i></td>
                            <td>{{ product.fullPrice|number_format(2, ',', '.') }} <i class="fa fa-eur"></i></td>
                            <td>
                                <div class="pull-right">

                                    <a href="{{ path('app_cart_remove', {'id': id}) }}" title="{{ 'form.delete'|trans }}" rel="nofollow" class="btn btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                    <tfoot>
                    <tr>
                        <td colspan="7">
                            <dl class="dl-horizontal pull-right">
                                <dt>Total HT</dt>
                                <dd class="text-right">{{ totals.excl_tax|number_format(2, ',', '.') }} <i class="fa fa-eur"></i></dd>
                                <dt>TVA</dt>
                                <dd class="text-right">{{ totals.vat|number_format(2, ',', '.') }} <i class="fa fa-eur"></i></dd>
                                <dt>Total TTC</dt>
                                <dd class="text-right">{{ totals.total|number_format(2, ',', '.') }} <i class="fa fa-eur"></i></dd>
                            </dl>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">
                                <i class="fa fa-tag"></i>
                                {{ 'cart.continue-shopping'|trans }}
                            </a>
                        </td>
                        <td colspan="6" class="text-right">
                            <a href="{{ path('app_cart_initpayment') }}" class="btn btn-paypal">
                                {{ 'cart.pay-now'|trans }}
                            </a>
                        </td>
                    </tr>
                    </tfoot>

                </table>
            </div>
            </div>


        </div>

    {% else %}

        <div class="alert alert-warning">
            <span class="fa fa-flag"></span>
            {{ 'product.cart_empty'|trans }}
        </div>

    {% endif %}

{% endblock %}