<!DOCTYPE html>
<html lang="{{ app.request.locale }}">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="robots" content="index,follow">
        <meta name="author" content="{{ app_name }}">

        <title>
            {% block title %}
                {{ app_name }}!
            {% endblock %}
        </title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <header class="main-header">
            <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top">
                <div class="container">

                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand" href="/">
                    <img src="{{ asset('images/fabini-logo-small.jpg') }}" alt="Fabini Logo" width="100">
                </a>

                <div class="collapse navbar-collapse" id="navbarCollapse">

                    {{ knp_menu_render('main') }}

                    <div class="user-cart form-inline mt-2 mt-md-0">
                        {% set cartItems = app.session.get('cart')|length %}

                        <a href="{{ path('app_cart_index') }}" class="cart" title="{{ 'cart.my-topnav'|trans }} {{ cartItems }}">
                            <span {{ cartItems > 0 ? 'class="active"'}}>{{ cartItems }}</span>
                            <i class="fa fa-shopping-cart"></i>
                        </a>

                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <a href="{{ path('fos_user_profile_show') }}" title="{{ app.user.username }}" class="logged">
                                <i class="fa fa-user-circle"></i>
                            </a>
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}" title="{{ 'label.login'|trans }}">
                                <i class="fa fa-user-circle"></i>
                            </a>
                        {% endif %}

                        <ul class="languages">
                            <li><a href="/de" class="{{ app.request.locale == 'de' ? 'current' }}">Deutsch</a></li>
                            <li><a href="/en" class="{{ app.request.locale == 'en' ? 'current' }}">English</a></li>
                        </ul>
                    </div>


                    <!--
                    <form class="form-inline mt-2 mt-md-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    -->
                </div>
                </div>

            </nav>

        </header>

        <main>
            {% block body %}

            {% endblock %}
        </main>

        <footer class="main-footer text-muted">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        {{ knp_menu_render('footer') }}
                    </div>
                    <div class="col-md-4">
                        sfdsdf
                    </div>
                    <div class="col-md-4">
                        social
                    </div>
                </div>


            </div>
        </footer>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!--
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script src="{{ asset('js/app.js') }}"></script>
        {% block javascripts %}{% endblock %}



    </body>

</html>
